/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:darkgoldenrod;
  background-size: cover;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

li {
  width: 100%;
  padding: 12px;
  border:#ccc;
  border-radius: 4px;
  background-color:#ccc;
  cursor: pointer;
  text-align: center;
  
}

button:hover {
  background-color:black;
}
